<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<SOCKET_PORT>12345</SOCKET_PORT>
	<SERVER_ALIAS>單元測試</SERVER_ALIAS>
	<SERVER_LOG_PATH>../log/IntelligentMonitoring</SERVER_LOG_PATH>
	<LONG_VALUE>111</LONG_VALUE>
	<SHORT_VALUE>22</SHORT_VALUE>
	<BOOLEAN_VALUE>true</BOOLEAN_VALUE>
	<FLOAT_VALUE>1.2</FLOAT_VALUE>
	<DOUBLE_VALUE>3.14</DOUBLE_VALUE>
</config>
	
